librosa==0.11.0
numpy==2.0.2
pandas==2.2.2
tqdm==4.67.1
matplotlib==3.10.0
seaborn==0.13.2
ipython==7.34.0
torch==2.8.0+cu126
torchaudio==2.8.0+cu126
soundfile==0.13.1
pytorch-lightning==2.6.0
scikit-learn==1.6.1
torchmetrics==1.8.2
transformers==4.57.1
wandb==0.22.2
